.header {
  width: 100%;
  height: 60px;
  background-color: #1a1c29;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    width: 100%;
    height: 100%;
  }

  &__navigation {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__logo {
    color: #fff;
  }

  &__nav {

    &-list {
      display: flex;
      align-items: center;

      & li {
        & a {
          color: #fff !important;
        }
      }
    }
  }

  &__panels {
    display: flex;
    align-items: center;
    gap: 40px;

  }
}