* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  //background-color: #0c0f1d;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

input {
  background: none;
  border: none;
  outline: none;
}